* {
   padding: 0;
   margin: 0;
}

.section {
   display: flex;
   font-family: "Rubik", sans-serif;
   justify-content: center;
   align-items: center;
   height: 99.9vh;
   background-image: url("./assets/background.avif");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.app-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 390px;
   /* background-color: hsl(240, 100%, 30%); */
   border: 3px solid #fff;
   backdrop-filter: blur(30px);
}

.top-content {
   display: flex;
   justify-content: center;
   gap: 5px;
   padding-top: 30px;
   padding-bottom: 20px;
}

.input-field {
   height: 19px;
   padding: 10px;
   border: none;
   outline: none;
   font-size: 16px;
   font-family: "Rubik", sans-serif;
   border-radius: 20px;
   text-align: center;
   font-weight: bold;
}

.search-icon {
   background-color: #fff;
   height: 19px;
   padding: 10px;
   border-radius: 19px;
   cursor: pointer;
}

.weather-img {
   height: 177px;
   display: flex;
   justify-content: center;
}
.weather-temp {
   color: #000;
   font-weight: 400;
   font-size: 60px;
   font-family: "Rubik", sans-serif;
}

.weather-location {
   color: #000;
   font-weight: 400;
   font-size: 35px;
   padding-bottom: 10px;
}
.data-container {
   display: flex;
   flex-direction: row;
   gap: 30px;
   color: #000;
   padding: 15px;
}
.elements {
   display: flex;
   padding: 10px;
   gap: 9px;
   align-items: flex-start;
}
.text {
   color: #000;
   font-size: 20px;
   font-weight: 500;
   font-family: "Rubik", sans-serif;
}
.humidity-percent {
   color: #000;
   font-size: 17px;
   font-weight: 450;
}
.icon {
   /* color: #000; */
   height: 35px;
}
